*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;

  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: azure;
}

.calculator {
  width: 350px;
  margin-top: 20px;
  background-color: rgb(142, 192, 192);
  padding: 2rem;
  border-radius: 20px;
}

.calc-functions,
.calc-numbers {
  display: grid;
  gap: 1rem;
  max-width: 100%;
  padding-top: 1rem;
}

.calc-functions {
  grid-template-columns: repeat(4, 1fr);
}
.calc-numbers {
  grid-template-columns: repeat(3, 1fr);
}

.screen {
  grid-column: span 4;
  background-color: #fff;
  text-align: right;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;

  font-size: 3rem;
  overflow: auto;
  border-radius: 10px;
}

.button {
  all: unset;
  background-color: rgb(255, 214, 65);
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255, 187, 0);
}

.button:active {
  background-color: rgb(165, 126, 19);
}

.wide-button {
  grid-column: span 2;
}
